@model TightWiki.Models.ViewModels.ExternalLoginCallbackViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3>External Login Exception</h3>
    </div>
    <div class="card-body">
    <table class="fixedTable100" border="0" cellpadding="5">
        <tbody>
            <tr>
                <td height="52" valign="middle" align="left">
                    <div class="alert alert-danger">@Html.Raw(Model.ErrorMessage)</div>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
