@model TightWiki.Models.ViewModels.ExternalLoginCallbackViewModel

<div class="card shadow-lg">
    <div class="card-header">
        <h3>External Login Exception</h3>
    </div>
    <div class="card-body">
        <div class="alert alert-danger">@Html.Raw(Model.ErrorMessage)</div>
    </div>
</div>
