@model TightWiki.Models.ViewModels.Profile.DeletedViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var wikiContext = ViewData["WikiContext"] as TightWiki.WikiContextState ?? throw new Exception("Wiki State Context cannot be null.");
}

<div class="card">
    <div class="card-header">
        <h3>Account Deleted!</h3>
    </div>
    <div class="card-body">
        <table class="fixedTable100" border="0" cellpadding="5">
            <tbody>
                <tr>
                    <td height="52" valign="middle" align="left">
                        The account has been deleted and all content that was created or modified by this account has been attributed to an anonymized profile..<br /><br />

                        <br /><br />
                        @if (TightWiki.Configuration.GlobalConfiguration.AllowSignup == true)
                        {
                            @:Not a member? <a href="/Identity/Account/Register">Register as a new user</a>.<br />
                        }
                        Already a member? <a href="/Identity/Account/Login">Login</a>.<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
