@model TightWiki.Models.ViewModels.Profile.DeletedViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var sessionState = ViewData["SessionState"] as TightWiki.SessionState ?? throw new Exception("Wiki State Context cannot be null.");
}

<div class="card border-danger mb-3">
    <div class="card-header bg-danger text-white">
        <strong>Account Deleted!</strong>
    </div>
    <div class="card-body">
        The account has been deleted and all content that was created or modified by this account has been attributed to an anonymized profile..<br /><br />

        <br /><br />
        @if (TightWiki.Models.GlobalConfiguration.AllowSignup == true)
        {
            @:Not a member? <a href="/Identity/Account/Register">Register as a new user</a>.<br />
        }
        Already a member? <a href="/Identity/Account/Login">Login</a>.<br />

    </div>
</div>
