@page
@model AccessDeniedModel
@{
    var sessionState = ViewData["SessionState"] as TightWiki.SessionState ?? throw new Exception("Wiki State Context cannot be null.");
}

<h3>
    Access denied.
</h3>

<p class="text-danger">You do not have access to this resource.</p>
