@page
@model AccessDeniedModel
@{
    var wikiContext = ViewData["WikiContext"] as TightWiki.WikiContextState ?? throw new Exception("Wiki State Context cannot be null.");
}

<h3>
    Access denied.
</h3>

<p class="text-danger">You do not have access to this resource.</p>
