@page
@inject IViewLocalizer Localizer
@model ConfirmEmailChangeModel
@{
    var sessionState = ViewData["SessionState"] as TightWiki.SessionState ?? throw new Exception("Wiki State Context cannot be null.");
}

<h3>
    @Localizer["Confirm email change"]
</h3>

<p><partial name="_StatusMessage" model="Model.StatusMessage" /></p>
