@page
@model ConfirmEmailModel
@{
    var wikiContext = ViewData["WikiContext"] as TightWiki.WikiContextState ?? throw new Exception("Wiki State Context cannot be null.");
}

<h3>
    Confirm your email address.
</h3>

<p class="text-dark"><partial name="_StatusMessage" model="Model.StatusMessage" /></p>
