@page
@model ForgotPasswordConfirmation
@{
    var sessionState = ViewData["SessionState"] as TightWiki.SessionState ?? throw new Exception("Wiki State Context cannot be null.");
}

<h3>
    Forgot password confirmation
</h3>

<p>
    Please check your email to reset your password.
</p>
