@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    var wikiContext = ViewData["WikiContext"] as TightWiki.WikiContextState;
}

<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
</p>
