@page
@model ForgotPasswordConfirmation
@{
    var wikiContext = ViewData["WikiContext"] as TightWiki.WikiContextState ?? throw new Exception("Wiki State Context cannot be null.");
}

<h3>
    Forgot password confirmation
</h3>

<p class="text-dark">
    Please check your email to reset your password.
</p>
