@page
@model LockoutModel
@{
    var sessionState = ViewData["SessionState"] as TightWiki.SessionState ?? throw new Exception("Wiki State Context cannot be null.");
}

<h3>
    Locked out
</h3>

<p class="text-dark">This account has been locked out, please try again later.</p>
