@page
@inject IViewLocalizer Localizer
@model LockoutModel
@{
    var sessionState = ViewData["SessionState"] as TightWiki.SessionState ?? throw new Exception("Wiki State Context cannot be null.");
}

<h3>
    @Localizer["Locked out"]
</h3>

<p>@Localizer["This account has been locked out, please try again later."]</p>
