@page
@model LockoutModel
@{
    var wikiContext = ViewData["WikiContext"] as TightWiki.WikiContextState ?? throw new Exception("Wiki State Context cannot be null.");
}

<h3>
    Locked out
</h3>

<p class="text-dark">This account has been locked out, please try again later.</p>
