@page
@model RegisterConfirmationModel
@{
    var sessionState = ViewData["SessionState"] as TightWiki.SessionState ?? throw new Exception("Wiki State Context cannot be null.");
}

<h3>
    Register confirmation
</h3>

<p>
    Please check your email to confirm your account.
</p>


