@page
@model RegisterConfirmationModel
@{
    var wikiContext = ViewData["WikiContext"] as TightWiki.WikiContextState ?? throw new Exception("Wiki State Context cannot be null.");
}

<h3>
    Register confirmation
</h3>

<p class="text-dark">
    Please check your email to confirm your account.
</p>


