@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
    var wikiContext = ViewData["WikiContext"] as TightWiki.WikiContextState;
}
<p>
        Please check your email to confirm your account.
</p>


