@page
@model RegistrationIsNotAllowedModel
@{
    ViewData["Title"] = "";
    var sessionState = ViewData["SessionState"] as TightWiki.SessionState ?? throw new Exception("Wiki State Context cannot be null.");
}

<h3>
    Registration is not allowed
</h3>

<p class="text-danger">Registration is not allowed.</p>
