@page
@inject IViewLocalizer Localizer
@model RegisterConfirmationModel
@{
    var sessionState = ViewData["SessionState"] as TightWiki.SessionState ?? throw new Exception("Wiki State Context cannot be null.");
}

<h3>
    @Localizer["Register confirmation"]
</h3>

<p>
    @Localizer["Please check your email to confirm your account."]
</p>


