@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
    var wikiContext = ViewData["WikiContext"] as TightWiki.WikiContextState ?? throw new Exception("Wiki State Context cannot be null.");
}
<p>
        Please check your email to confirm your account.
</p>


