@page
@model RegistrationIsNotAllowedModel
@{
    ViewData["Title"] = "";
    var wikiContext = ViewData["WikiContext"] as TightWiki.WikiContextState ?? throw new Exception("Wiki State Context cannot be null.");
}

<h3>
    Registration is not allowed
</h3>

<p class="text-danger">Registration is not allowed.</p>
