@page
@model ResetPasswordConfirmationModel
@{
    var sessionState = ViewData["SessionState"] as TightWiki.SessionState ?? throw new Exception("Wiki State Context cannot be null.");
}

<h3>
    Reset password confirmation
</h3>

<p class="text-dark">
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>
