@page

@using TightWiki.Resources

@model ResetPasswordConfirmationModel
@{
    var sessionState = ViewData["SessionState"] as TightWiki.SessionState ?? throw new Exception("Wiki State Context cannot be null.");
}

<h3>
    @SharedLocalizer.Static["Reset password confirmation"]
</h3>

<p>
    @SharedLocalizer.Static["Your password has been reset."]
    <a asp-page="./Login">@SharedLocalizer.Static["Please click here to log in"]</a>.
</p>
