@page
@inject IViewLocalizer Localizer
@model ResetPasswordConfirmationModel
@{
    var sessionState = ViewData["SessionState"] as TightWiki.SessionState ?? throw new Exception("Wiki State Context cannot be null.");
}

<h3>
    @Localizer["Reset password confirmation"]
</h3>

<p>
    @Localizer["Your password has been reset."]
    <a asp-page="./Login">@Localizer["Please click here to log in"]</a>.
</p>
