
TightWiki/bin/

TightWiki/obj/

*.user

TightWiki.Library/obj/

.vs/

TightWiki.Library/bin/

DatabaseMigration/bin/

DatabaseMigration/obj/

TightWiki.DataModel/bin/

TightWiki.DataModel/obj/

TightWiki.Shared/bin/

TightWiki.Shared/obj/

TightWiki.Repository/bin/

TightWiki.Repository/obj/

Mssql2Sqlite/bin/

Mssql2Sqlite/obj/

TightWiki.Caching/bin/

TightWiki.Caching/obj/

TightWiki.Configuration/bin/

TightWiki.Configuration/obj/

TightWiki.Email/bin/

TightWiki.Email/obj/

TightWiki.Engine/bin/

TightWiki.Engine/obj/

TightWiki.Interfaces/bin/

TightWiki.Interfaces/obj/

TightWiki.Models/bin/

TightWiki.Models/obj/

TightWiki.Security/bin/

TightWiki.Security/obj/
