
TightWiki/bin/

TightWiki/obj/

*.user

TightWiki.Library/obj/

.vs/

TightWiki.Library/bin/

DatabaseMigration/bin/

DatabaseMigration/obj/

TightWiki.DataModel/bin/

TightWiki.DataModel/obj/

TightWiki.Shared/bin/

TightWiki.Shared/obj/

TightWiki.Repository/bin/

TightWiki.Repository/obj/
