.ellipsis200 {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-thin {
    padding: 1px 6px;
    font-size: 14px;
}

/*Login page*/
.provider-btn .provider-icon {
    height: 30px;
}

.tw-heading {
    margin-bottom: 0.5rem;
    font-weight: 600;
    line-height: 1.2;
}

    .tw-heading a {
        color: inherit;
        text-decoration: none;
    }

.tw-heading-1 {
    font-size: 2.2rem;
}

.tw-heading-2 {
    font-size: 1.8rem;
}

.tw-heading-3 {
    font-size: 1.5rem;
}

.tw-heading-4 {
    font-size: 1.25rem;
}

.tw-heading-5 {
    font-size: 1.05rem;
}

.tw-heading-6 {
    font-size: 0.95rem;
}