@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <table class="fixedTable100" border="0" cellpadding="5">
        <tbody>
            <tr>
                <td height="52" valign="middle" align="left">
                    <h3>Password reset.</h3>
                    If an account exists that matches the provided email address then an email has been dispatched to the that email address.
                    Check your email for the password reset link.
                    If you are having trouble finding the email, check your spam folders or use the @Html.ActionLink("Forgot Password", "Forgot", "Account") form to get a new verification email.<br />
                </td>
            </tr>
        </tbody>
    </table>
</div>
