@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <table class="fixedTable100" border="0" cellpadding="5">
        <tbody>
            <tr>
                <td height="52" valign="middle" align="left">
                    <h3>Password reset!</h3>
                    Your password has been reset and you are now ready to <a href="/Account/Login">Login</a>.

                    <br /><br />
                    Forgot your password? @Html.ActionLink("Reset it.", "Forgot", "Account").<br />
                </td>
            </tr>
        </tbody>
    </table>
</div>
