@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <table class="fixedTable100" border="0" cellpadding="5">
        <tbody>
            <tr>
                <td height="52" valign="middle" align="left">
                    <h3>Signup complete!</h3>
                    You are now fully signed up and ready to <a href="/Account/Login">Login</a>.

                    <br /><br />
                    Forgot your password? @Html.ActionLink("Reset it.", "Forgot", "Account").<br />
                </td>
            </tr>
        </tbody>
    </table>
</div>
