<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\TightWiki.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
	  
  <httpProtocol>
    <customHeaders>
		<add name="Content-Security-Policy" value="
			connect-src 'self' accounts.google.com content.googleapis.com analytics.google.com;
			default-src 'self';
			font-src 'self' fonts.gstatic.com;
			frame-ancestors 'self';
			frame-src 'self' accounts.google.com;
			img-src 'self' accounts.google.com data: https://www.googletagmanager.com;
			script-src 'self' 'unsafe-inline' 'unsafe-eval' apis.google.com www.googletagmanager.com accounts.google.com;
			style-src 'self' 'unsafe-inline' fonts.googleapis.com https://accounts.google.com;" />


		
        <add name="Permissions-Policy" value="geolocation=(self), camera=(self), microphone=(self)" />
    </customHeaders>
</httpProtocol>
	  
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: D21C2842-5294-4892-97C4-E8564BA4323C-->


