@model TightWiki.Models.ViewModels.File.FileAttachmentViewModel
@{
    var wikiContext = ViewData["WikiContext"] as TightWiki.WikiContextState;
}

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/deleteAttachment.js"></script>
</head>
<body>
    <table class="table fixedTable100 table-striped" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <!--
            <tr>
                <td colspan="2">
                    <form method="post" enctype="multipart/form-data">
                        <table class="fixedTable100" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td><input type="file" name="binaryData" id="binaryData" onchange="fileCheck(this);" /></td>
                                <td><button type="submit" onclick="PostToParent()" class="btn btn-primary rounded-0">Upload</button></td>
                            </tr>
                        </table>
                    </form>
                </td>
            </tr>
            -->
            @foreach (var x in Model.Files)
            {
                <tr>
                    <td>
                        <a href="/File/Binary/@x.PageNavigation/@x.FileNavigation" target="_blank"> @x.Name</a> [@x.FriendlySize]
                    </td>
                    <td>
                        @if (@wikiContext?.CanDelete == true)
                        {
                            <a href="#deleteLink" id="@x.FileNavigation"> Delete </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
