@model TightWiki.Models.ViewModels.File.FileAttachmentViewModel
@{
    var wikiContext = ViewData["WikiContext"] as TightWiki.WikiContextState;
}

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/deleteAttachment.js"></script>
</head>
<body>
    <table class="table fixedTable100 table-striped" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            @foreach (var x in Model.Files)
            {
                <tr>
                    <td>
                        <a href="/File/Binary/@x.PageNavigation/@x.FileNavigation" target="_blank"> @x.Name</a> [@x.FriendlySize]
                    </td>
                    <td>
                        <a href="/File/Revisions/@x.PageNavigation/@x.FileNavigation" target="_blank">@x.FileRevision revisions</a>
                    </td>
                    <td>
                        @if (@wikiContext?.CanDelete == true)
                        {
                            <a href="#deleteLink" id="@x.FileNavigation"> Delete </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
