@model TightWiki.ViewModels.Page.BrowseViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var wikiContext = ViewData["WikiContext"] as TightWiki.WikiContextState;
}

<div class="card">
    <div class="card-header"><strong>Associated Tags</strong></div>
    <div class="card-body">@Html.Raw(Model.TagCloud)</div>
</div>

<div class="card">
    <div class="card-header"><strong>Associated Pages</strong></div>
    <div class="card-body">@Html.Raw(Model.AssociatedPages)</div>
</div>
