@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">Associated Tags</div>
    <div class="card-body">@Html.Raw(ViewBag.TagCloud)</div>
</div>

<div class="card">
    <div class="card-header">Associated Pages</div>
    <div class="card-body">@Html.Raw(ViewBag.Pages)</div>
</div>

