@using TightWiki.Library
@using TightWiki.Models
@inject ISharedLocalizationText Localizer
@inject TightWikiConfiguration WikiConfiguration

@model TightWiki.Models.ViewModels.Page.BrowseViewModel
@{
    Layout = "_Layout";
    var sessionState = ViewData["SessionState"] as TightWiki.SessionState ?? throw new Exception("Wiki State Context cannot be null.");
}

<section class="mb-3">
    <div>
        @Html.Raw(Model.TagCloud)
    </div>
</section>

<section class="mb-3">
    <div class="border-bottom pb-1 mb-2">

    </div>
    <div>
        @Html.Raw(Model.AssociatedPages)
    </div>
</section>