@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header"><strong>Associated Tags</strong></div>
    <div class="card-body">@Html.Raw(ViewBag.TagCloud)</div>
</div>

<div class="card">
    <div class="card-header"><strong>Associated Pages</strong></div>
    <div class="card-body">@Html.Raw(ViewBag.Pages)</div>
</div>

