@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h1>@ViewBag.Title</h1>
    <h4>
        Many years ago, I translated a giant list of English words into 9 other languages. I was 17, naïve and thought that I could do word-for-word translation to create a translation service. Needless to say, this asinine adventure was rather fruitless but the resulting dataset was entertaining. By joining on the translation results and using fuzzy matching I could do all sorts of odd things – like find similar words across languages and do comical there-and-back-again translations.
    </h4>
    <hr />

    <strong>Mindblowing statistics:</strong>
    <blockquote>
        4,255,342 synonyms.<br />
        1,705,128 translations.<br />
        940,068 sound mappings.<br />
        313,356 words in all languages.<br />
        220,855 distinct words.<br />
        83,416 english words.<br />
        2,905 "dirty" words.<br />
        3 sound functions.<br />
        Limitless non-reliable possibilities.<br />
    </blockquote>

</div>
