@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AsapWiki - @ViewBag.Title</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-globe"></span> AsapWiki</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <!--<li><a href="#">About</a></li>
                    <li><a href="#">Products</a></li>-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="about-us">
                            <li><a href="/Home/Browse" class="list-group-item">Browse</a></li>
                            <li><a href="/Home/Translate" class="list-group-item">Translate</a></li>
                            <li><a href="/Home/SoundsLikeSoundEx" class="list-group-item">Sounds Like (SoundEx)</a></li>
                            <li><a href="/Home/SoundsLikeMetaphone" class="list-group-item">Sounds Like (Metaphone)</a></li>
                            <li><a href="/Home/SoundsLikeDoubleMetaphone" class="list-group-item">Sounds Like (Double-Metaphone)</a></li>
                            <li><a href="/Home/Synonyms" class="list-group-item">Synonyms</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title"><span class="glyphicon glyphicon-random"></span> Play with Words</h1>
                </div>
                <div class="list-group">
                    <a href="/" class="list-group-item">Home</a>
                    <a href="/Home/Browse" class="list-group-item">Browse</a>
                    <a href="/Home/Translate" class="list-group-item">Translate</a>
                    <a href="/Home/SoundsLikeSoundEx" class="list-group-item">Sounds Like (SoundEx)</a>
                    <a href="/Home/SoundsLikeMetaphone" class="list-group-item">Sounds Like (Metaphone)</a>
                    <a href="/Home/SoundsLikeDoubleMetaphone" class="list-group-item">Sounds Like (Double-Metaphone)</a>
                    <a href="/Home/Synonyms" class="list-group-item">Synonyms</a>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title"><span class="glyphicon glyphicon-cog"></span> Why Play?</h1>
                </div>

                <div class="panel-body">
                    <p>Many years ago, I translated a giant list of 84,000 English words into 9 other languages. I was 17 and naïve thinking I could use this for sentence translations. The resulting dataset wasn’t completely useless, however. By joining on the translation results and using fuzzy matching I could do all sorts of odd things – like find similar words.</p>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-bullhorn"></span> Tell your friends!
                    </h3>
                </div>
                <div class="panel-body">
                    <p>Or dont! Seriously, we don't care...</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="row"><article class="col-xs-12">@RenderBody()</article></div>
        </div>
        <div class="col-sm-3">
        </div>
    </div>

    <footer>
        <div class="footer-blurb">
            <div class="container">
                <div class="row">
                </div>
            </div>
        </div>
        <div class="small-print">
            <div class="container">
                <p>Copyright &copy; AsapWiki.NTDLS.com 2022 </p>
            </div>
        </div>
    </footer>

    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
    <script src="/js/holder.min.js"></script>
</body>
</html>
