@model TightWiki.Models.ViewModels.Page.DeletedPageRevisionViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var sessionState = ViewData["SessionState"] as TightWiki.SessionState ?? throw new Exception("Wiki State Context cannot be null.");
}

<div class="card bg-warning mb-3">
    <div class="card-header"><strong>Viewing a deleted page revision</strong></div>
    <div class="card-body">
        <p class="card-text">
            You are viewing a page revision which was deleted on @Model.DeletedDate by @Model.DeletedByUserName.<br />

            @Html.Raw(TightWiki.Library.ConfirmActionHelper.GenerateSafeLink("This will restore the deleted page and all of its history. Continue?",
                     "Restore This Revision", $"/Admin/RestoreDeletedPageRevision/{Model.PageId}/{Model.Revision}", "/Admin/DeletedPageRevisions", Context.Request.Path.Value))
            <br />
        </p>
    </div>
</div>

@Html.Raw(Model.Body)
