@using TightWiki.Models
@model TightWiki.Models.ViewModels.Admin.EmojiViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var sessionState = ViewData["SessionState"] as TightWiki.SessionState ?? throw new Exception("Wiki State Context cannot be null.");
}

@if (string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="card card-danger border-danger">
        <div class="card-header bg-danger text-white">
            <strong>Delete emoji "@Model?.OriginalName"?</strong>
        </div>
        <div class="card-body">
            Deleting the emoji "@Model?.OriginalName" will permanently remove the image. Any references to it will be orphaned.
            <strong>You will not be able to revert this deletion.</strong>
            <br /><br />

            Are you sure you want to continue with this deletion?<br /><br />

            @using (Html.BeginForm(null, null, FormMethod.Post, new { action = $"{GlobalConfiguration.BasePath}{Context.Request.Path}" }))
            {
                <div class="form-group"><button type="submit" class="btn btn-danger rounded-0" name="IsActionConfirmed" value="true">Yes</button>&nbsp;&nbsp;<button type="submit" class="btn btn-success rounded-0" name="IsActionConfirmed" value="false">No</button></div>
            }
        </div>
    </div>
}

