@model SharpWiki.Shared.Models.View.FileAttachmentModel

<script>
    function PostToParent() {
        var binaryData = document.getElementById('binaryData');
        var fileName = binaryData.files.item(0).name;
        var lower = fileName.toLowerCase();

        if (lower.endsWith(".png") || lower.endsWith(".bmp") || lower.endsWith(".jpg") || lower.endsWith(".jpeg") || lower.endsWith(".ico") || lower.endsWith(".tif") || lower.endsWith(".tiff")) {
            window.top.postMessage('image:##Image(' + fileName + ' | 100)', '*')
        }
        else {
            window.top.postMessage('file:##File(' + fileName + ')', '*')
        }
    }
</script>

<form method="post" enctype="multipart/form-data">
    <input type="file" name="binaryData" id="binaryData" onchange="fileCheck(this);" />
    <div class="form-group"><button type="submit" onclick="PostToParent()" class="btn btn-primary rounded-0">Upload</button></div>
</form>

@foreach (var x in Model.Files)
{
    <div>
        <a href="/Wiki/Png/@ViewBag.Navigation?Image=@x.Name" target="_blank"> @x.Name</a> [@x.FriendlySize]

        @if (@ViewBag.Context?.CanDelete == true)
        {
            @: - <a href="/File/Delete/@ViewBag.Navigation?Image=@x.Name" onclick="return window.confirm('Delete the image?');"> Delete </a>
        }
    </div>
}
