@page
@inject IViewLocalizer Localizer
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = Localizer["Reset authenticator key"].Value;
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
    var sessionState = ViewData["SessionState"] as TightWiki.SessionState ?? throw new Exception("Wiki State Context cannot be null.");
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>@Localizer["If you reset your authenticator key your authenticator app will not work until you reconfigure it."]</strong>
    </p>
    <p>
        @Localizer["This process disables 2FA until you verify your authenticator app. If you do not complete your authenticator app configuration you may lose access to your account."]
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">@Localizer["Reset authenticator key"]</button>
    </form>
</div>
